<h1>Pirates</h1>
<h2>Name: <%=@pirate.name %></h2>
<p>Height: <%=@pirate.height %>  Weight: <%=@pirate.weight %></p>


<h2>Ships</h2>
<% @ships.each do |ship| %>
<h3>Name: <%=ship.name%></h3>
<p>Type: <%=ship.type%> Booty: <%=ship.booty%></p>
<%end%>
